numpy
tensorly
tlviz
plotly
kaleido
ipython
ipykernel
matplotlib
pandas
tqdm
nbformat
shootout-opt
black
barmusiccomp # TODO make optional
-e .

# Also manually install custom tensorly branch
# TODO improve